@charset "utf-8";
#contentsArea {
    font-family: "Lucida Grande","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,メイリオ,sans-serif;
}
#keyVisual {
	height: 260px; width:100%; background:#f8a614; text-align:center;
}
#keyVisual h1 {
	background: url("https://img.travel.rakuten.co.jp/bus/special/tohoku/images/keyvisual01.jpg") top center no-repeat; text-indent:-9999px;
}

#contentsArea a:visited:hover, #contentsArea a:link:hover, #contentsArea a:visited:active, #contentsArea a:link:active {
    text-decoration: none;
}

#contentsArea .htlBox h1, #contentsArea .htlBox h1:visited {
    color: #1d54a7;
    text-decoration: none;
}
#contentsArea .htlBox h1:hover, #contentsArea .htlBox h1:active {
    color: #cc0000;
    text-decoration: none;
}
#contentsArea .htlBox h2, #contentsArea .htlBox h2:visited {
    color: #1574f4;
    line-height: 1.6;
    text-decoration: none;
}
#contentsArea .htlBox h2:hover, #contentsArea .htlBox h2:active {
    color: #cc0000;
    text-decoration: underline;
}
.htlBox .rate a em {
    padding-top: 0;
}
#contentsArea .htlBox .explain {
	line-height: 180%;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-size:100%;
}

#contentsArea .htlBox .btn li a {
    font-size: 70%;
}
#contentsArea .spotBox .btn li a {
    font-size: 90%;
}
#search-box p.searchSubmit a {
    background: url("https://img.travel.rakuten.co.jp/share/themes/top/images/n/btn_search.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 24px;
    width: 60px;
}
#search-box p.searchSubmit a:hover {
    opacity: 0.8;
}
#contentsArea .spotBox {
    border-color: #a5a5a5;
}
#contentsArea #search-box, #contentsArea #keywordSearch, #contentsArea #browsHistory, #contentsArea #subContents .bnrs {
    border-color: #707070;
}
#contentsArea #verticalRecentRoot {
    border-color: #fff;
}
#outline {
    background-color: #fff;
    margin-bottom: 20px;
    width: 710px;
}
#outline div.waku {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #cc0000 #cc0000;
    border-image: none;
    border-right: 2px solid #cc0000;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    padding: 20px;
}
#outline p {
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 90%;
    margin-bottom: 10px;
    text-align: center;
}
#outline p.s01 {
    background-image: url("https://img.travel.rakuten.co.jp/bus/special/tohoku/images/step_1.gif");
    height: 35px;
    padding-left: 7%;
    text-align: left;
}
#outline p.s02 {
    background-image: url("https://img.travel.rakuten.co.jp/bus/special/tohoku/images/step_2.gif");
    height: 26px;
    padding-left: 7%;
    padding-top: 10px;
    text-align: left;
}
#outline dl {
    background-color: #ffe5e5;
    border: 1px solid #cc0000;
    line-height: 140%;
    padding: 5px;
    width: 656px;
}
#outline dl dt {
    color: #e24329;
    font-size: 100%;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 10px;
}
#outline dl dt span {
    color: #000000;
}
#outline dl dd {
    font-size: 78%;
    padding: 2px 0;
}
#outline dl dd em {
    font-style: normal;
    font-weight: bold;
}
#outline dl dd span {
    color: #bf0a0a;
    font-weight: bold;
}
#outline dl dd a:link {
    color: #5454f6 !important;
    font-weight: bold;
    text-decoration: none !important;
}
#outline dl dd a:hover {
    text-decoration: underline !important;
}
.sp {
    display: none;
}
.pc {
    text-align: center;
}
.htlBox .plan li a .price {
	text-align: left;
}
#keywordSearch .submit {
    display: block;
    margin: 3px auto;
    width: 60px;
}
#keywordSearch .submit:hover {
    opacity: 0.8;
}
.btn1 {
    padding-bottom: 5px;
    text-align: center;
}
#contentsArea .column2L #login, .column2R #login {
    background-color: #fff;
    padding: 5px;
    width: 700px;
}
#contents .pagetop a:hover {
    text-decoration: underline;
}
* + html .htlBox2 .photo .thumPhotos li {
    width: 32.1%;
}
* + html .htlBox .btn {
    margin-bottom: 0;
    padding-bottom: 3px;
}
* + html .htlBox .btn li {
    margin-bottom: 0;
    padding-bottom: 7px;
}
#contentsArea  #P2 .photo{ width:98%;}
#contentsArea .htlBox .photo {
    margin: 0;
    padding: 0 20px;
}
#contentsArea  #P2 .photo .mainPhoto{ display:block; width:48%; float:left;}
.htlBox .photo .thumPhotos{width:48%; float:left; margin-left:2%;}
#contentsArea  #P2 .plan{ padding-left:20px;}
#contentsArea .pageBtn a {
	background: #fafad2;
	border-color: #f8a614;
	color: #333333;
	font-size:90%;
}
#contentsArea .pageBtn a:hover {
	background: #FFF;
}
#contentsArea #P1 .area, #contentsArea #P2 .area, #contentsArea #P3 .area, #contentsArea #P4 .area, #contentsArea #P5 .area,#contentsArea #P7 .area{
    background: none repeat scroll 0 0 #f8a614;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
	font-size:110%;
	font-weight:bold;
}
#contentsArea #P1 h1, #contentsArea #P2 h1 {
    color: #1574f6;
}

#contentsArea #P3 h1 {
    color: #1574f6;
}

#contentsArea #P4 h1 {
    color: #bc0422;
}
.pbox {
    background-color: #ffffff;
    border: 1px solid #aace75;
    border-radius: 5px;
    padding: 5px;
	overflow:hidden;
}
.htlBox1 .plan li.pbox .planName, .htlBox2 .plan li.pbox .planName {
    font-size: 90%;
}
#contentsArea .htlBox h2 a, #contentsArea .htlBox h2 a:visited {
    line-height: 100%;
    text-decoration: none;
}
#contentsArea .htlBox h2 a:hover, #contentsArea .htlBox h2 a:active {
    color: #00F;
    text-decoration: underline;
}
#contentsArea .htlBox .plan li a.nb {
    border: medium none;
}

#contentsArea .htlBox .plan .cond {
    font-size: 78%;
    width: 318px;
}
.htlBox .plan li a .price span {
    color: #f7000c;
}
#contentsArea .htlBox {
	border:2px solid #f8a614;
	}
#contentsArea  #P6{ border:none!Important;}
#contentsArea  #P6 .plan{ width:948px;}
#contentsArea  #P6 .plan p{ width:32.2%;}
#contentsArea .htlBox .plan .chara li {
	background-color: #eee3d7;
	border: medium none;
	color: #715e3e;
}
.pageBtn ul {
    margin: 0 auto;
}
.timeXX {
    margin-bottom: 7px;
    width: 100%;
}
#contentsArea .htlBox .plan li a {
    padding: 11px;
	border-color:#aace75;
}
#contents .racoupon {
    margin: 0 100px 10px;
    width: 720px;
}
#contents .racoupon a:hover {
    text-decoration: underline;
}
.racoupon .number {
    background-color: #fff;
    margin-top: 13px;
}
:root * > .racoupon:after {
    border: 0 none;
}
.racoupon .number2 {
	left: 766px;
	margin: 2px 7px;
	padding-top: 9px;
	position: absolute;
	top: 33px;
	width: 90px;
}

.utility h1 {
	background-color: #f8a614;
	color: #FFFFFF;
	font-size: 95%;
	line-height: 1.2;
	padding: 5px;
	text-align: center;
}

.utility:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0.1em;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.column1 .utility {
	background-color: #FFFFFF;
	border: 2px solid #f8a614;
	width: 946px;
}
.utility h2 {
    color: #BF0A0A;
    font-size: 90%;
    margin: 20px 0 10px 10px;
}
.utility p {
    font-size: 82%;
    line-height: 1.5;
    margin: 10px 15px;
}
.utility a{
	color: #5454f6 !important;
}
#contents .pagetop {
    margin-bottom: 10px;
}

#contentsArea .hkd_map{
	position:relative;
}
#contentsArea .hkd_map ul{
	position:absolute;
	top:50px;
	left:62px;
}
#contentsArea .hkd_map ul li{
	list-style-type:none;
	margin:5px;
	width:140px;
}
#contentsArea .hkd_map ul li a{
    color: #d20000;
    font-size: 14px;
    line-height: 1.6;
	text-align:left;
}
p.text1{
	font-size:14px;
	margin:0 10px 0 10px;
	text-align:center;
}
p.text1 span{ color:#F00;}

.bus{ font-size:89%; width:40%; float:left; padding:5px;}
li.pbox h2.planName a.nb em{ font-weight:normal;}
#contentsArea #contents{ background:#FFF;}
#login .title{ background:#f8a641;}
#login .loginBox{ border:2px solid #f8a641;}
#login #l_rtitle, #login #l_etitle{  border-bottom:1px solid #f8a641;}
#login #l_rtitle, #login #l_etitle{ color:#f8a641;}
#login .message{color:#f8a641;}

.pageBtn{ margin-top:10px;}
 ul.plan li.pbox2{
	background-color: #ffffff;
    border: 1px solid #aace75;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;}
 ul.plan li.pbox2 ul.chara{ width:44%; float:left;}
ul.plan li.pbox2 p.price{ float:left; padding-top:1px;}
ul.plan li.pbox2 p.price span{ font-size:120%; color:#C00; padding-top:5px;}
ul.plan li.pbox2 ul.chara li.padg1{padding-left: 18px; padding-right:18px;}
ul.plan li.pbox ul.chara li.padg2{padding-left: 30px; padding-right:30px;}

#contents.column1{ width:950px; padding:15px 0;}
.column1 .hotels { width: 946px;}
.column1 .htlBox1{ width:946px;}
.column1 #login { width: 950px;}

.pageBtn ul { width: 950px;}

.pageBtn ul.btn3 li { width: 311px;}

#contents..htlBox{ margin-right:0;}

div.cpn555{ overflow:hidden;}
div.cpn555 ul{ width:500px; margin:auto;}
div.cpn555 ul li{
	list-style-type: none;
	float: left;
	margin: 0 0 15px 35px;
	text-align: center;
}

div.cpn555 ul li a:hover{
	opacity:0.8;
}

div#contentsArea p.coup{
    font-size: 78%;
    padding-bottom: 15px;
    padding-right: 10px;
    text-align:center;
}
div#contentsArea p.coup a:hover{	
    text-decoration: underline; }
	
div#mainContents h1.title2{
	font-size: 150%;
	text-align: center;
	color: #f8a614;
	padding: 10px 0;
}

.pageBtn ul li a{ height:100% !important;  padding:5px 5px 0px 5px;}
#contentsArea .pageBtn a, #contentsArea .pageBtn em{ line-height:20px;}
.pageBtn ul.btn4 li { margin-left:6px; width: 230px;}
.pageBtn ul.btn4 li a b{ font-size:14px;}
.pageBtn ul.btn4 li a{ font-size:12px!important; font-weight:normal!important;}
#keyVisual h1 {
text-indent: 1px;}

span.newl {    background-color: #ff0000;
    color: #ffffff;
    margin: 0 6px;
    padding: 0 6px;}
	
.hotels #P2{ border:none!important;}