@charset "utf-8";

#contentsArea a:visited:hover, #contentsArea a:link:hover, #contentsArea a:visited:active, #contentsArea a:link:active {
    text-decoration: none;
}

#contentsArea .htlBox h2, #contentsArea .htlBox h2:visited {
    color: #1d54a7;
    text-decoration: none;
}
#contentsArea .htlBox h2:hover, #contentsArea .htlBox h2:active {
    color: #cc0000;
    text-decoration: underline;
}
#contentsArea .htlBox .explain {
	line-height: 180%;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-size:100%;
}
#contentsArea .htlBox .btn li a {
    font-weight: bold;
}
#contentsArea .spotBox {
    border-color: #a5a5a5;
}
#contentsArea #search-box, #contentsArea #keywordSearch, #contentsArea #browsHistory, #contentsArea #subContents .bnrs {
    border-color: #707070;
}
#contentsArea #verticalRecentRoot {
    border-color: #fff;
}
.htlBox .area {
    margin: 0;
    padding: 7px 7px 5px;
}
#pageTab ul {
    border-bottom: medium none;
}
#contentsArea #pageTab a, #contentsArea #pageTab em {
    border-bottom-width: 1px;
    border-radius: 5px;
}

#outline {
    background-color: #fff;
    max-width: 100%;
}
#outline div.waku {
    border: 2px solid #cc0000;
    margin-bottom: 10px;
    padding: 20px 10px;
}
#outline p {
    background-repeat: no-repeat;
    font-size: 90%;
    margin-bottom: 10px;
}
#outline p.s01 {
    background-image: url("https://img.travel.rakuten.co.jp/bus/special/tohoku/images/step_1.gif");
    background-position: left top;
    height: auto;
    padding-left: 45px;
}
#outline p.s02 {
    background-image: url("https://img.travel.rakuten.co.jp/bus/special/tohoku/images/step_2.gif");
    background-position: left top;
    height: auto;
    padding-left: 45px;
}
#outline p img {
    margin: auto;
    max-width: 100%;
}
#outline dl {
    background-color: #ffe5e5;
    border: 1px solid #cc0000;
    line-height: 130%;
    max-width: 100%;
    padding: 5px;
}
#outline dl dt {
    color: #e24329;
    font-size: 100%;
    font-weight: bold;
    padding: 10px 0;
}
#outline dl dt span {
    color: #000000;
}
#outline dl dd em {
    font-weight: bold;
}
#outline dl dd {
    font-size: 78%;
    padding: 2px 0;
}
#outline dl dd span {
    color: #bf0a0a;
    font-weight: bold;
}
#outline dl dd a {
    color: #5454f6;
    font-weight: bold;
    text-decoration: underline;
}
#outline dl dd a:hover {
    color: #5454f6;
    font-weight: bold;
    text-decoration: underline;
}
.pc {
    display: none;
}
.htlBox .plan li a .price {
    text-align: right;
}
.btn1 {
    padding-bottom: 5px;
    text-align: center;
}
#contentsArea .column2L #login, .column2R #login {
    background-color: #fff;
    padding: 10px;
}
.dpno {
    display: none;
}
#contents .racoupon {
    margin-bottom: 3px;
}
#contents .racoupon a:hover {
    text-decoration: underline;
}
#contents p.coup {
    font-size: 78%;
    padding-bottom: 15px;
    padding-right: 10px;
    text-align: right;
}
#contents p.coup a {
    color: #333;
}
#outline h1, #W_W.utility h1 {
    background-color: #bf0a0a;
    color: #ffffff;
    font-size: 120%;
    line-height: 1.2;
    padding: 5px;
    text-align: center;
}
#outline, #W_W.utility {
    background-color: #ffffff;
    max-width: 100%;
}
.utility:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0.1em;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#contentsArea #P1 .area {
    background: none repeat scroll 0 0 #ffe2f4;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
#contentsArea #P1 h1 {
    color: #1574f6;
}
#contentsArea .pbox {
    background-color: #ffffff;
    border: 1px solid #aace75;
    border-radius: 5px;
    padding: 5px;
	overflow:hidden;
}
.htlBox1 .plan li.pbox .planName, .htlBox2 .plan li.pbox .planName {
    font-size: 90%;
}
#contentsArea .htlBox h2 a, #contentsArea .htlBox h2 a:visited {
    color: #1574f4;
    line-height: 100%;
    text-decoration: none;
}
#contentsArea .htlBox h2 a:hover, #contentsArea .htlBox h2 a:active {
    color: #00F;
    text-decoration: underline;
}
#contentsArea .htlBox .plan li a.nb {
    border: medium none;
}
#contentsArea .htlBox .plan li a{
	border-color:#aace75;
}
#contentsArea .htlBox .plan .cond {
    font-size: 78%;
    width: 95%;
}
.htlBox .plan li a .price span {
    color: #f7000c;
}
#contentsArea .htlBox {
    border-color: #f8a641;
}
#contentsArea .htlBox .plan .chara li {
    background-color: #eee3d7;
    border: medium none;
    color: #715e3e;
}
#contentsArea #P1 .area, #contentsArea #P2 .area {
    background: none repeat scroll 0 0 #f8a641;
    border-radius: 5px 5px 0 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
	font-size:110%;
	font-weight:bold;
}
#contentsArea #P1 h1, #contentsArea #P2 h1 {
    color: #1574f6;
}
#contentsArea #P3 .area {
    background: none repeat scroll 0 0 #f8a641;
    border-radius: 5px 5px 0 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
	font-size:110%;
	font-weight:bold;
}
#contentsArea #P3 h1 {
    color: #1574f6;
}
#contentsArea #P4 .area {
    background: none repeat scroll 0 0 #f8a641;
    border-radius: 5px 5px 0 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
	font-size:110%;
	font-weight:bold;
}

#contentsArea #P5 .area {
    background: none repeat scroll 0 0 #f8a641;
    border-radius: 5px 5px 0 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
	font-size:110%;
	font-weight:bold;
}

#contentsArea #P7 .area {
    background: none repeat scroll 0 0 #f8a641;
    border-radius: 5px 5px 0 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
	font-size:110%;
	font-weight:bold;
}

#contentsArea #P4 h1 {
    color: #bc0422;
}
.htlBox .photo {
    margin: 10px auto 0;
}
.htlBox .basic:before, .htlBox .rate a:before, .htlBox .rank a:before, .htlBox .plan li a:before {
    border: medium none;
}
#contentsArea .htlBox .basic {
    border-bottom: medium none;
}
.cpn555 ul li{
	list-style-type:none;
}
.cpn555 ul li img{
	display:block;
	margin:0 auto;
	width:80%;
	max-width:80%;
}
.utility h1 {
    background-color: #f8a641;
    color: #FFFFFF;
    font-size: 105%;
    line-height: 1.2;
    padding: 5px;
    text-align: center;
}
.utility {
    background-color: #FFFFFF;
    max-width: 100%;
	margin-bottom: 10px;
	margin:10px;
    border: 2px solid #f8a641;
}

.utility:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0.1em;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.utility h2 {
    color: #BF0A0A;
    font-size: 90%;
    margin: 20px 0 10px 10px;
}
.utility p {
    font-size: 82%;
    line-height: 1.5;
    margin: 10px 15px;
}
#contentsArea .hkd_map{
	position:relative;
	margin-bottom:40px;
}

#contentsArea .hkd_map ul{
	position:absolute;
	top:13%;
	left:10%;
	z-index:2;
}
#contentsArea .hkd_map ul li{
	list-style-type:none;
	margin:5px;
	width:140px;
}
#contentsArea .hkd_map ul li a{
    color: #d20000;
    font-size: 14px;
    line-height: 1.3;
	text-align:left;
}
.text1{
	font-size:14px;
	margin:8px 15px 2px 15px;
}

.bus{ font-size:89%; width:40%; float:left; padding:5px;}
li.pbox h2.planName a.nb em{ font-weight:normal;}
#contentsArea #contents{ background:#FFF;}
#login .title{ background:#f8a641;}
#login .loginBox{ border:2px solid #f8a641;}
#login #l_rtitle, #login #l_etitle{  border-bottom:1px solid #f8a641;}
#login #l_rtitle, #login #l_etitle{ color:#f8a641;}
#login .message{color:#f8a641;}

#contentsArea .pageBtn a {
	background: #fafad2;
	border-color: #f8a614;
	color: #333333;
	display: table-cell;
    vertical-align: middle;
	line-height:1.4 !important;
}
#contentsArea .pageBtn a:hover {
	background:#ffffff;
}

.pageBtn ul li{ width:100%; margin-left:0; font-size:90%; display: table;}

.number, .number2{ display:none;}

 ul.plan li.pbox2{
	background-color: #ffffff;
    border: 1px solid #aace75;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;}
 ul.plan li.pbox2 ul.chara{ width:43%; float:left;}
ul.plan li.pbox2 p.price{ float:left; padding-top:5px;}
ul.plan li.pbox2 p.price span{ font-size:120%; color:#C00;}
ul.plan li.pbox2 ul.chara li.padg1{padding-left: 18px; padding-right:18px;}
ul.plan li.pbox ul.chara li.padg2{padding-left: 30px; padding-right:30px;}

p.text1 span{ color:#F00;}

div#mainContents h1.title2{
	font-size: 150%;
	text-align: center;
	color: #f8a614;
	padding: 10px 0 0 5px;
}

div#contentsArea p.coup{
    font-size: 78%;
    padding-bottom: 15px;
    padding-right: 10px;
    text-align:center;
}
div#contentsArea p.coup a:hover{	
    text-decoration: underline; }
	
.htlBox1 .photo .thumPhotos li {
    width: 23.4%;
}
span.newl {    background-color: #ff0000;
    color: #ffffff;
    margin: 0 6px;
    padding: 0 6px;}
	
#contentsArea  #P6{ border:none!Important;}
h1#CP{ padding-left:10px;}

.pageBtn ul li a{ font-weight:normal!Important;}

.hotels #P2{ border:none!important;}

div#DPbanner img{
	width:100%;
}